name: release

on:
  release: # Docs: <https://help.github.com/en/articles/events-that-trigger-workflows#release-event-release>
    types: [published]

jobs:
  docker-image:
    name: Build the docker image
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - uses: docker/setup-qemu-action@v2

      - uses: docker/setup-buildx-action@v2

      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - {uses: gacts/github-slug@v1, id: slug} # Action page: <https://github.com/gacts/github-slug>

      - uses: docker/build-push-action@v3 # Action page: <https://github.com/docker/build-push-action>
        with:
          context: .
          file: Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          build-args: 'LOCALE=en'
          tags: |
            ghcr.io/${{ github.actor }}/rssbot:latest
            ghcr.io/${{ github.actor }}/rssbot:${{ steps.slug.outputs.version-semantic }}-en

      - uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          build-args: 'LOCALE=zh'
          tags: ghcr.io/${{ github.actor }}/rssbot:${{ steps.slug.outputs.version-semantic }}-zn
